<div class="searchbar" id="searchbar">
    <div class="searchbar-content">
        <p>Tražiš točno određeni naslov?</p>
        <input type="text" id="filter">
    </div>
</div>

<div class="searchbar-arrow" id="searchbar-arrow"><img src="../../images/af_icon_search.png"></div>





