<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Ford Online</title>

    <link rel="stylesheet" type="text/css" href="../styles/background.css">
    <link rel="stylesheet" type="text/css" href="../styles/font.css">
    <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../styles/analytics.css">

    <script src="../scripts/analytics.js"></script>

    <link rel="icon" href="../images/af_logo.jpg" type = "image/x-icon">
</head>

<body>
    <div class="wrapper">
        <%- include(`partials/sidebar`); %>

        <div class="analytics-content">
            <div class="analytics-timeoptions">
                <button class="analytics-timeoption active" onclick="isActive('total')" name="total">Ukupno</button>
                <button class="analytics-timeoption" onclick="isActive('week')" name="week">Zadnji tjedan</button>
                <button class="analytics-timeoption" onclick="isActive('month')" name="month">Zadnji mjesec</button>
            </div>
            
        </div>
    </div>
    
</body>
</html>