body:before {
    background: url("../images/af_bg.jpg");
    opacity: 0.4;
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.login-form-visible, .reg-form-visible{
    width: 70%;
    height: 65%;
    border-radius: 5%;
    background-color: snow;
    display: flex;
    left: 15%;
    top: 15%;
    position: absolute;
    overflow: hidden;
}

.login-form-hidden, .reg-form-hidden{
    visibility: hidden;
}

.login-div {
    border-right: 4px solid black;
}

.login-div, .reg-cover, .reg-div {
    width: 50%;
}

.login-div-marginized, .reg-div-marginized {
    margin-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-headlabel {
    font-size: 2.5rem;
}

.login-input-div {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-one{
    margin-top: 0;
}

.login-input-div label {
    font-size: 1.25rem;
    width: 150px;
    margin-top: 0.65rem;
}

.login-input-data, .reg-input-data {
    width: 8.5em;
    height: 2em;
    border: none;
    border-bottom: 1.8px solid black;
    outline: none;
    background-color: inherit;
    font-size: 1.2rem;
}

.reg-input-data {
    width: 35%;
    font-size: 1rem;
}

.login-btn, .reg-btn {
    padding: 1rem 2.4rem;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    background-color: inherit;
    font-size: 1.2rem;
    margin-right: 2.5rem;
}

.reg-btn {
    font-size: 1rem;
    padding: 0.8rem, 2rem;
}

.login-btn:hover, .reg-btn:hover {
    background-color: lightyellow;
    transform: scale(0.95);
}

.login-err-btn, .reg-err-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.reg-err-btn {
    margin-top: 1rem;
}

.login-err, .reg-err {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: red;
}

.reg-div {
    border-left: 4px solid black;
    border-right: none;
}

.reg-div-marginized {
    margin-top: 1em;
    margin-bottom: 5%;
}

.reg-input-div label{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    width: 175px
}

.reg-headlabel {
    font-size: 2em
}

.reg-input-div {  
    display: flex;
    margin-left: 3rem;
    margin-top: 4%;
}

.reg-name-surname {
    display: flex;
    flex-direction: row;
}

.reg-name-surname > .reg-input-div label{
    width: auto;
}

.ns {
    margin-left: 2em;
    width: 40% !important;
}

.reg-btn {
    padding: 0.75em 2em;
    font-size: 0.9rem;
}

.cover-div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cover-img-div {
    width: 100%;
    height: 80%;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.cover-signin{
    font-size: 1.35rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cover-signin > span:hover {
    cursor: pointer;
    font-size: 1.025em;
    padding-bottom: 2px;
    border-bottom: 3px solid burlywood;
}

@media screen and (max-width: 1250px) {
    .login-input-divs {
        margin: 0 auto;
    }

    .login-input-div {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .reg-headlabel {
        font-size: 1.5rem;
    }


}
